@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", "Helvetica";
    box-sizing: border-box;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 50px;
    background: #2196f3;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
}

#midea {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    align-items: center;
}

#btn-sair {
    margin-right: 20px;
    font-size: 21px;
    font-weight: bold;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    border-color: #EA5A5A;
    background-color: #EA5A5A;
    color: #640107;
    cursor: pointer;
    transition: all .3s ease-out;
}

#btn-sair:hover {
    border-color: #b11f1f;
    background-color: #e12929;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

#centraliza-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#logo {
    width: 80px;
    height: 80px;

}

.post {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 25px;
    background: #2196f3;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 4px rgba(0.3, 0.3, 0.3, 0.3);
}

.postUser {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 25px;
    background: #2196f3;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 4px rgba(0.3, 0.3, 0.3, 0.3);
}

#msgError {
    text-align: center;
    color: #640107;
    background-color: #EA5A5A;
    ;
    padding: 5px;
    border-radius: 10px;
    display: none;
}

.user {
    display: flex;
    align-items: start;
    justify-content: start;
}

.foto-user {
    width: 35px;
    height: 35px;
    background: #333;
    border-radius: 40%
}

h3 {
    font-size: 16px;
    margin-left: 10px;
    color: #000;
}

#formPost {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.publicacao {
    margin: 15px 0;
    padding: 25px;
    height: 90px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border-color: #000;
    border: 0;    
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icones {
    cursor: pointer;
}

input[type='file'] {
    display: none;
    margin-right: 15px;

}

.btn-action {
    outline: none;
    background: #2196f3;
    border: 0;
    cursor: pointer;
    margin-right: 40px;
    cursor: pointer;
}

#imagem {
    margin-left: 5px;
}

#video {
    margin-left: 5px;
}

#gif {
    margin-bottom: -3px;
    margin-left: 5px;
}

.btn-submit {
    background: #000;
    padding: 10px 50px;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    transition: all .3s ease-out;
}

.btn-submit:hover {
    background: #fff;
    color: #000;
}

.posts li.post {

    background-color: #2196f3;
    border-bottom: 10px;
    padding: 25px;
    width: 100%;
    box-shadow: 5px 5px 5px 4px rgba(0.3, 0.3, 0.3, 0.3);
}

.hour {
    padding-top: 5px;
}

.posts li.post p {
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
}

.btn-action-post {
    padding: 5px 5px;
    border: 0;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

#imageUpload {
    width: 375px;
    height: 211px;
}

.action-post1 {
    background: #EA5A5A;
}

.action-post1:hover {
    background: #fa3946;
}

.action-post2 {
    background: #d7c03d;
}

.action-post2:hover {
    background: #ffda09;
}

.action-post3 {
    background: #ce7435;
}

.action-post3:hover {
    background: #ee6808;
}

.hide {
    display: none;
}