@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", "Helvetica" !important;
    background-color: rgb(231, 231, 231);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

h1 {
    font-size: 45px !important;
}

.alinha {
    margin-left: 15%;
}

a{
    color: #2196f3!important;
    text-decoration: none!important;
}

a:hover {
    color: #74bffc!important;
}