<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/logo.svg" />
    <link rel="stylesheet" href="../css/feed.css" />

    <title>Mideia | Feed</title>

</head>

<body>
    <header>
        <h1 id="midea">Mideia</h1>
        <button id="btn-sair" onclick="sair()">Sair</button>
    </header>

    <main>
        <div id="centraliza-logo">
            <img src="../assets/logo.svg" id="logo" alt="Logo Mideia">
        </div>

        <div id="msgError"></div>

        <div class="post">
            <div class="user">
                <img src="../assets/user.png" alt="">
                <h3 class="logado"></h3>
            </div>


            <form action="" id="formPost">

                <textarea id="textarea" class="publicacao" name="textarea"
                    placeholder="No que você está pensando hoje?"></textarea>


                <div class="buttons">
                    <div class="icones">
                        <input type="file" id="flImage" name="fImage" accept="image/*">
                        <img src="../assets/imagem.svg" alt="Selecione uma imagem" title="imagem" id="imgPhoto"
                            style="width:30px;">
                        <input id="action2" type="file" class="btn-action" accept="video/*">
                        <img id="video" src="../assets/video.svg" alt="Faça o post de um vídeo">
                        <input id="action3" type="file" class="btn-action" accept="video/*">
                        <img id="gif" src="../assets/gif.svg" alt="Faça o post de um gif">
                    </div>

                    <button type="submit" class="btn-submit">Publicar</button>
                </div>
            </form>
        </div>

        <ul id="posts">
            <img id="uploadImage" src="" alt="">
        </ul>
    </main>


    <script src="../Controllers/feed.js"></script>

</body>

</html>