<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/logo.svg" />
    <link rel="stylesheet" href="../css/feed.css" />

    <title>Mideia | Feed</title>

</head>

<body>
    <header>
        <h1 id="midea">Mideia</h1>        
        <button id="btn-sair" onclick="sair()">Sair</button>
    </header>    

    <main>
        <div class="post">
            <div class="user">
                <div class="fotoUser">
                    <h3 id="logado"></h3>       
                </div>
            </div>
        </div>
    </main>


    <script src="../Controllers/feed.js"></script>
</body>

</html>