<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/logo.svg" />
    <link rel="stylesheet" href="../css/feed.css" />

    <title>Mideia | Feed</title>

</head>

<body>
    <header>
        <h1 id="midea">Mideia</h1>
        <button id="btn-sair" onclick="sair()">Sair</button>
    </header>

    <main>
        <div id="centraliza-logo">
            <img src="../assets/logo.svg" id="logo" alt="Logo Mideia">
        </div>

        <div id="msgError"></div>

        <div class="post">            
            <div class="user">
                <img src="../assets/user.png" alt="">
                <h3 class="logado"></h3>
            </div>


            <form action="" id="formPost">
                <textarea id="textarea" class="publication" name="textarea" placeholder="No que você está pesando hoje? Teste1"></textarea>

                <div class="buttons">
                    <div class="icones">
                        <button class="btn-action"><img src="../assets/imagem.svg"
                                alt="Faça o post de uma imagem"></button>
                        <button class="btn-action"><img src="../assets/video.svg"
                                alt="Faça o post de um vídeo"></button>
                        <button class="btn-action"><img src="../assets/gif.svg" alt="Faça o post de um vídeo"></button>
                    </div>

                    <button type="submit" class="btn-submit">Publicar</button>
                </div>
            </form>
        </div>

        <ul id="posts">
            <!-- <li class="post">
                <div class="info-user-post">
                    <div class="user">
                        <img src="../assets/user.png" alt="">
                        <h3 class="nameUser"></h3>
                    </div>

                    <div class="hour">
                        <span id="timePost">21</span>
                    </div>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam aut earum quia quasi voluptates aliquam possimus ab, cumque maiores necessitatibus repudiandae sapiente excepturi eius quo suscipit odit aperiam iusto inventore!
                    </p>

                    <div class="action-post">
                        <button type="button" class="btn-action-post action-post1"><img src="../assets/heart.svg" alt="Curtir"></button>
                        <button type="button" class="btn-action-post action-post2"><img src="../assets/comentario.svg" alt="Comentar"></button>                        
                        <button type="button" class="btn-action-post action-post3"><img src="../assets/share.svg" alt="Compartilhar"></button>                        
                    </div>
                </div>
            </li> -->            
        </ul>
    </main>


    <script type='module' src="../Controllers/makePost.js"></script>    
    <script src="../Controllers/feed.js"></script>    
    
</body>

</html>